.page {
  --gray-rgb: 0, 0, 0;

  min-height: 100svh;
  gap: 64px;
  font-family: var(--font-geist-sans);
  background: var(--background);
  overflow: hidden;
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.main {
  position: relative;
  width: 100%;
  height: 100vh;
}
.container_left {
  z-index: 0;
  position: absolute;
  top: 0;
  left: -30rem;
  height: 70rem;
  width: 100rem;
  border-radius: 5rem;

  background:var(--foreground);

  rotate: 20deg;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.menu {
  display: flex;
  position: relative;
  top: 1rem;
  padding: 1px 1rem;
  justify-content: space-between;
  flex-direction: row;
  justify-items: center;

}

.menu_left {
  flex-direction: row;
}

.menu_right {
  display: flex;
  flex-direction: row;
  margin-right: 1.3rem;
  align-items: center;

}

.menu_right p {
  margin: 0;
  display: inline-block;
}
.menu_right a {
  text-decoration: none;

}

.option_question{
  width: 30px;
  height: 30px;

  border-radius: 50%;
  background: var(--foreground);

  display: flex;
  justify-content: center;
  align-items: center;
}

.button_menu {
  background: var(--background);
}

.container_details {
  position: relative;

  top: 8rem;
  padding: 0px 10rem;
  display: flex;
  align-items: center;
  flex-direction: row;
}


.container_example {
  width: 100%;
  height: 150vh;
  background: var(--foreground);
  z-index: 2;
  /* background-color: #fff; */
}
.container_templates {
  width: 100%;
  height: 100vh;
  background: var(--foreground);
  overflow: hidden;
}
.container_templates h1 {
  text-align: center;
  font-size: 2.3rem;
}
.card {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    background: var(--background);
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer {
  width: 100%;
  height: 10rem;
  background: var(--background);
}
