{
  "sourceMaps": true,
  "presets": [
    "@babel/preset-typescript",
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@middleware": "./src/middleware",
          "@error": "./src/error",
          "@security": "./src/security",
          "@schema": "./src/schema",
          "@regex": "./src/regex",
          "@upload": "./src/upload",
          "@bull": "./src/bull",
          "@root": "./",
          "@prisma": "./dist/prisma",
          "@src": "./src"
        },
        "extensions": [".js", ".ts", ".json"]
      }
    ]
  ],
  "ignore": ["**/*.test.ts"]
}
